*{ 
 margin: 0;
 padding:0;
 box-sizing: border-box;
}

.heading{
  color: rgb(255, 25, 0);
  font-weight: bold;
  text-shadow: black;
  margin: 50px 0px;
  text-align: center;
}

.stu{
  display: flex;
  justify-content: center;
}



.stu img{
  width: 250px;
  height: 300px;
 
  
}